.fund-container {
  .fund-inputs-section {
    display: flex;
    width: 100%;

    .fund-col {
      display: inline-block;
      width: 50%;
    
      .fund-sub-title {
        margin: 15px 0 0 0;
        height: 24px;
        font-weight: bold;
        text-transform: capitalize;
      }
    }
  }

  .fund-buttons-section {
    margin: 25px 0 0 0;

    .fund-button-add {
      margin: 0 15px 0 0;
      width: 100px;
      color: #ffffff;
      background-color: #0069D9;
    }
  
    .fund-button-clear {
      margin: 0 15px 0 0;
      width: 100px;
      color: #ffffff;
      background-color: #DB3F35;
    }
  }
}
