.fund-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fund-col {
  display: inline-block;
  width: 49%;
}

.sub-title {
  margin: 15px 0 0 0;
  height: 24px;
  font-weight: bold;
  text-transform: capitalize;
}