.container {
  flex-wrap: wrap;
  display: flex;
  justify-content: start;
  width: 100%;
}

.input {
  margin: 20px;
  display: inline-block;
  width: 330px;
}

.buy {
  width: 990px !important;
}

.sell {
  width: 660px !important;
}

.fundings {
  width: 660px !important;
}