.scenario-container {
  .scenario-inputs-section {
    display: flex;
    width: 100%;

    .scenario-col {
      display: inline-block;
      width: 50%;
    }
  }

  .scenario-buttons-section {
    margin: 25px 0 25px 0;
    width: 100%;

    .scenario-button-add {
      margin: 0 15px 0 0;
      width: 100px;
      color: #ffffff;
      background-color: #0069D9;
    }
  
    .scenario-button-clear {
      margin: 0 15px 0 0;
      width: 100px;
      color: #ffffff;
      background-color: #DB3F35;
    }
  }

  .scenario-draft-section {
    margin: 25px 0 15px 0;

    .scenario-draft-title {
      margin: 15px 0 15px 0;
      height: 24px;
      font-weight: bold;
    }

    .scenario-drafts-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .scenario-draft {
        margin: 0 10px 15px 0;
        display: inline-block;
        width: 30%;
      }
    }
  }
}