.app {
    .title {
      display: block;
      width: 100%;
      margin: 50px 0 0 0;
      padding: 0 0 0 50px;
      font-size: 40px;
    }

  .app-container {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .inputs-accordion {
      width: 48%;
    }

    .charts-view {
      width: 48%;
    }
  }
}