.container {
  flex-wrap: wrap;
  width: 100%;
}

.scenario {
  display: inline-block;
  width: 350px;
}

.buy {
  display: inline-block;
  width: 350px;
}

.sell {
  display: inline-block;
  width: 350px;
}

.fundings {
  display: inline-block;
  width: 350px;
}

.results {
  display: inline-block;
  width: 350px;
}